<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="KPNPugin32" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\kpn_client\modules\KPNPlugin32.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness32" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="H.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
